{% extends 'base.html' %}

{% block title %}Criar e Atualizar{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/criar-post.css' %}">


<div class="fundo">
    <div class="">
        <div class="">
            <div class="text-center">
                {% if request.path == '/post-create' %}
                    <h1>Criar Postagem</h1>
                {% else %}
                    <h1>Atualizar</h1>
                {% endif %}
            </div>
            <form method="post" action="{% if request.method == 'POST' %}{% url 'post-create' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}




